<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.sjwflowsys.mapper.UserMapper">
    
    <resultMap type="User" id="UserResult">
        <result property="id"    column="ID"    />
        <result property="pid"    column="PID"    />
        <result property="unitid"    column="UnitID"    />
        <result property="deptid"    column="DeptID"    />
        <result property="deptname"    column="DeptName"    />
        <result property="name"    column="Name"    />
        <result property="password"    column="Password"    />
        <result property="fullname"    column="FullName"    />
        <result property="idcard"    column="IDCard"    />
        <result property="companyid"    column="CompanyID"    />
        <result property="companyname"    column="CompanyName"    />
        <result property="sortcode"    column="SortCode"    />
        <result property="edittime"    column="EditTime"    />
        <result property="guoduye"    column="GuoDuYe"    />
        <result property="deleted"    column="Deleted"    />
        <result property="phone"    column="Phone"    />
        <result property="usertype"    column="UserType"    />
        <result property="activated"    column="Activated"    />
        <result property="analysisroot"    column="AnalysisRoot"    />
        <result property="isadmin"    column="isadmin"    />
    </resultMap>

    <sql id="selectUserVo">
        select ID, PID, UnitID, DeptID, DeptName, Name, Password, FullName, IDCard, CompanyID, CompanyName, SortCode, EditTime, GuoDuYe, Deleted, Phone, UserType, Activated, AnalysisRoot, isadmin from user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectUserById" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertUser" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="pid != null">PID,</if>
            <if test="unitid != null">UnitID,</if>
            <if test="deptid != null">DeptID,</if>
            <if test="deptname != null">DeptName,</if>
            <if test="name != null">Name,</if>
            <if test="password != null">Password,</if>
            <if test="fullname != null">FullName,</if>
            <if test="idcard != null">IDCard,</if>
            <if test="companyid != null">CompanyID,</if>
            <if test="companyname != null">CompanyName,</if>
            <if test="sortcode != null">SortCode,</if>
            <if test="edittime != null">EditTime,</if>
            <if test="guoduye != null">GuoDuYe,</if>
            <if test="deleted != null">Deleted,</if>
            <if test="phone != null">Phone,</if>
            <if test="usertype != null">UserType,</if>
            <if test="activated != null">Activated,</if>
            <if test="analysisroot != null">AnalysisRoot,</if>
            <if test="isadmin != null">isadmin,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="pid != null">#{pid},</if>
            <if test="unitid != null">#{unitid},</if>
            <if test="deptid != null">#{deptid},</if>
            <if test="deptname != null">#{deptname},</if>
            <if test="name != null">#{name},</if>
            <if test="password != null">#{password},</if>
            <if test="fullname != null">#{fullname},</if>
            <if test="idcard != null">#{idcard},</if>
            <if test="companyid != null">#{companyid},</if>
            <if test="companyname != null">#{companyname},</if>
            <if test="sortcode != null">#{sortcode},</if>
            <if test="edittime != null">#{edittime},</if>
            <if test="guoduye != null">#{guoduye},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="phone != null">#{phone},</if>
            <if test="usertype != null">#{usertype},</if>
            <if test="activated != null">#{activated},</if>
            <if test="analysisroot != null">#{analysisroot},</if>
            <if test="isadmin != null">#{isadmin},</if>
         </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="pid != null">PID = #{pid},</if>
            <if test="unitid != null">UnitID = #{unitid},</if>
            <if test="deptid != null">DeptID = #{deptid},</if>
            <if test="deptname != null">DeptName = #{deptname},</if>
            <if test="name != null">Name = #{name},</if>
            <if test="password != null">Password = #{password},</if>
            <if test="fullname != null">FullName = #{fullname},</if>
            <if test="idcard != null">IDCard = #{idcard},</if>
            <if test="companyid != null">CompanyID = #{companyid},</if>
            <if test="companyname != null">CompanyName = #{companyname},</if>
            <if test="sortcode != null">SortCode = #{sortcode},</if>
            <if test="edittime != null">EditTime = #{edittime},</if>
            <if test="guoduye != null">GuoDuYe = #{guoduye},</if>
            <if test="deleted != null">Deleted = #{deleted},</if>
            <if test="phone != null">Phone = #{phone},</if>
            <if test="usertype != null">UserType = #{usertype},</if>
            <if test="activated != null">Activated = #{activated},</if>
            <if test="analysisroot != null">AnalysisRoot = #{analysisroot},</if>
            <if test="isadmin != null">isadmin = #{isadmin},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteUserById" parameterType="String">
        delete from user where ID = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from user where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>